In [1]:
# 1. Write a python program to check Leap year

a = 1918
if a % 4 == 0:
    print("year is leap")
else:
    print("year is not leap")

year is not leap

In [3]:
# 2. write a python program to sort words in alphabetic order

A = ['a','d','r','t','k','h','g']
A.sort(reverse=False)
A

['a', 'd', 'g', 'h', 'k', 'r', 't']

In [4]:
# 3. write a python program to remove punctuation from a string

a = "wow! it's a great news"
a.replace("!","")

"wow it's a great news"

In [2]:
# 4. write a python program to convert key-values list to flat dictonary

l = ['a','b','c','d','e']
l1 = [11,12,13,14,15]
dict = {}
for i in range(len(l)):
    dict[l[i]] = l1[i]
print(dict)

{'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15}

In [5]:
# 5.  create a list of squared intergers from a given list of integers 

l = []
for i in range (1,10):
 l.append((i) * (i))
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
# 6. remove all the vowels from a given string


l = ['ram','sayali','pooja','niks','rupali']
l1 = ['a','e','i','o','u']
vowels = []
for i in l:
    for str in i:
        if str in l1:
            vowels.append(str)
print(vowels)

['a', 'a', 'a', 'i', 'o', 'o', 'a', 'i', 'u', 'a', 'i']

In [17]:
# 7.  count the numbers of time each character appears in a given string 

a = 'i am a working in cummins'
def count_char(a):
    count = {}
    for char in a:
        if char in count:
            count[char] += 1
        else:
            count[char] = 1
            
    return count

In [18]:
count_char(a)

{'i': 4,
 ' ': 5,
 'a': 2,
 'm': 3,
 'w': 1,
 'o': 1,
 'r': 1,
 'k': 1,
 'n': 3,
 'g': 1,
 'c': 1,
 'u': 1,
 's': 1}

In [20]:
# 8. count the number of times each characters appears in a given string 

s = ['a','1','s','2','d','f','6']
isnumeric = []
for i in s:
    if i.isdigit():
        isnumeric.append(i)
print(isnumeric)

['1', '2', '6']

In [23]:
# 9. create a list of all numbers that are divisible by 3 and 5 from a given list of integers using list comprehension 

l = [3,5,9,15,90,45,80]
l1 = []
for i in l:
    if i % 3 == 0 and i % 5 == 0:
        l1.append(i)
print(l1)

[15, 90, 45]

In [7]:
# 10. find the sum of all the elements in a given array of integers.

l = [3,5,9,15,90,45,80]

In [8]:
import numpy as np
a = np.array(l)
sum(a)

247

In [9]:
total = 0
for i in l:
    total += i
print(total)

247